@model ABMSucursales.Models.Sucursal

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sucursal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre de sucursal:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreSucursal)
        </dd>
        <dt class = "col-sm-2">
            Dirección:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionSucursal)
        </dd>
        <dt class = "col-sm-2">
            Área:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaSucursal)
        </dd>
        <dt class = "col-sm-2">
            Horario de apertura:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioAtencionApertura)
        </dd>
        <dt class = "col-sm-2">
            Horario de clausura:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioAtencionClausura)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdSucursal" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
